.core-container {
  max-width: 700px;
  margin: auto;
}

.core-label {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

.core-textarea {
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-text);
  border: 2px solid var(--color-primary);
  padding: 12px;
  border-radius: 6px;
  font-size: 1.1rem;
}

/* Make the upper textbox three times bigger than the lower one */
.core-textarea:first-of-type {
  height: 360px; /* 3 times bigger than the default 120px */
}

.core-textarea:last-of-type {
  height: 120px;
}
