.credentials {
    padding: 3rem;
    background-color: var(--color-dark);
    color: var(--color-text);
    text-align: center;
  }
  
  .credentials h2 {
    font-size: 2rem;
    color: var(--color-primary);
  }