/* Updated styles for Cyber Dream */

:root {
  /* Updated Color Scheme */
  --color-text: #e0e0e0;
  --color-primary: #6a0572;
  --color-secondary: #240046;
  --color-dark: #10002b;
  --color-bg: #1a1a2e;
  
  /* Font Settings */
  --font-main: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-main);
  background: linear-gradient(to bottom, #10002b, #240046);
  color: var(--color-text);
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .custom-navbar {
  background-color: transparent; 
  padding: 2rem 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
} 
*/

.custom-button {
  color: var(--color-primary); /* Utilize your primary theme color */
  font-size: 2.5rem; /* Adjust to desired Hero size */
  font-family: var(--font-main);
  font-weight: 700; /* Bold, attention-grabbing */
  text-align: center;
  cursor: default; /* since this seems to be non-clickable */
  text-shadow: 0px 2px 4px rgba(0,0,0,0.5); /* subtle shadow for depth */
}

/* .core-section {
  padding: 30px;
  text-align: center;
  max-width: 800px;
  margin: auto;
} */

/* .core-container {
  max-width: 700px;
  margin: auto;
} */

/* .core-label {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2rem;
} */

/* .core-textarea {
  width: 100%;
  height: 120px;
  background-color: var(--color-dark);
  color: var(--color-text);
  border: 2px solid var(--color-primary);
  padding: 12px;
  border-radius: 6px;
  font-size: 1.1rem;
} */

/* .core-button {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.core-button:hover {
  background-color: #82008b;
  color: #ffffff;
} */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .hero-text {
  color: var(--color-primary); 
  font-size: 3rem; 
  font-family: var(--font-main); 
  padding: 20px 0; 
  text-align: center;
  font-weight: bold;
} */
